*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.auth-form-container{
    width: 440px;
    min-height: 265px;
    /* border: 1px solid rgb(247, 18, 18); */
    margin: auto;
    /* padding: 15px; */
    box-sizing: border-box;
    background-color: rgb(54, 52, 52);
}

.auth-form-header-container{
    width: 440px;
    min-height: 25px;
    margin: auto;
    /* padding: 15px; */
    box-sizing: border-box;
    background-color: rgb(54, 52, 52);
}


.body-style{
    background-color: gray;
    margin-top: 100px;
    box-sizing: border-box;
    display: block;
    margin-right: 0px;
	margin-left: 0px;
    margin-bottom: 0px;
}

.text-class{
    background-color: rgb(59, 59, 202);
    color: white;
    margin: auto;
    width: 440px;
    min-height: 40px ;
    box-sizing: border-box;
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
}

.btn-register{
    font-size: 10pt;
    padding-top: 10px;
    padding-right: 40px;
    color: white;
    /* text-decoration: none; */
    cursor: pointer;
    box-sizing: border-box;
}
.btn-register:hover{
    text-decoration: underline;
}

.lbl-authorize{
    padding-left: 20px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.image{
    width: 150px;
    height: 150px;
    padding-left: 40px;
}

.line{
    width: 360px;
    height: 2px;
    border: 1px;
    background-color: grey;
    margin: auto;
    margin-top: 20px;
}

.btn-forget-pass{
    font-size: 10pt;
    color: gray;
    margin-left: 255px;
    /* margin-top: 50px; */
}


.footer { 
	clear:both;
	width: auto;
	color:#888;  
	font-size:90%;
	background: #272727;
	border-top: 1px solid rgb(65, 65, 65); 
	text-align:center; 
	padding: 10px;
    height: 64px;
}

.padding{
    text-align: center;
    min-height: calc(100vh - 526px - 60px);
    box-sizing: border-box;
    color: rgb(167, 165, 165);
}

.form-group{
    width: 177px;
    margin-right: 40px;
    /* margin-top: 40px; */
}

.text-input{
    background-color: rgb(54, 52, 52);
    height: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    /* padding-left: 15px;
    padding-right: 15px; */
    border: 1px solid;
    margin-top: 15px;
}

.pic-container{
    display: flex;
    justify-content: space-between;
}

.chkb-save{
    font-size: 8pt;
    color: gray;
    margin-top: 10px;
}

.location{
    margin-top: 10px;
}
.chk-group{
    margin-left: 87.55px;
    text-align: center;
    height: 27px;
}

.btn{
    margin-left: 77px;
    margin-top: 15px;
    width: 100px;
    display:  block;
    font-size: 14px;
    height: 25px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.btn-primary{
    background-color: rgb(59, 59, 202);
    color: white;
} 

.div-forget-pass{
margin-top: 10px;
}

main{
    background-color: rgb(228, 224, 224);
}

.parent{
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}